.vs/FirstMauiApp/FileContentIndex/2ebccd8b-24a8-4890-ba2f-560e307edf41.vsidx
.vs/FirstMauiApp/FileContentIndex/2ebccd8b-24a8-4890-ba2f-560e307edf41.vsidx
.vs/FirstMauiApp/FileContentIndex/cb3c73fa-65e2-4c41-a0ca-d9d7ecfbcf4c.vsidx
/.vs/FirstMauiApp/FileContentIndex
*.vsidx
